@font-face {
  font-family: Futura;
  src: url('futura-std-4-cufonfonts-webfont/FuturaStdBold.woff') format("WOFF");
  font-weight: normal;
}
body {
    margin: 0;
    font-family: Futura, Helvetica;
    background-size: cover;
    background-image: url(images/static.gif);
    height: 100vh;
    width: 100vw;
    overflow-y: overlay;
    color: white;
  }
  /* Nav */
  nav {
    display: flex;
    width: 100%;
    height: 4em;
    align-items: center;
    justify-content: flex-end;
    padding-top: 3em;
  }
    /* nav icon */
    .visuallyHidden {
      position: absolute;
      clip: rect(0 0 0 0); 
   }
   .menuIcon {
      display: flex;
      justify-content: flex-end;
      padding-right: 4vh;
      z-index: 100;
   }
   .hamburger {
      margin: 0 auto;
      margin-top: 30px;
      width: 30px;
      height: 30px;
      position: relative;
      cursor: pointer;
   }
   .hamburger .bar {
      padding: 0;
      width: 30px;
      height: 4px;
      background-color: white;
      display: block;
      border-radius: 4px;
      transition: all 0.4s ease-in-out;
      position: absolute; 
   }
   .bar1 {
      top: 0;
   }
   .bar2,
   .bar3 {
      top: 13.5px;
   }
   .bar3 {
      right: 0;
   }
   .bar4 {
      bottom: 0;
   }
   .checkbox1:checked + label > .hamburger1 > .bar1{
      transform: rotate(45deg);
      transform-origin: 5%;
      width: 41px;
      background-color: black;
   }
   .checkbox1:checked + label > .hamburger1 > .bar2 {
      transform: translateX(-40px);
      background-color: transparent;
   }
   .checkbox1:checked + label > .hamburger1 > .bar3 {
      transform: translateX(40px);
      background-color: transparent;
   }
   .checkbox1:checked + label > .hamburger1 > .bar4 {
      transform-origin: 5%;
      transform: rotate(-45deg);
      width: 41px;
      background-color: black;
   }
    /* end */
  .headr {
    position: absolute;
    height: 4em;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-top: 3em;
    z-index: -100;
  }
  .icon {
    max-height: 30%;
  }
  .sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: white;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 100px;
  }
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    transition: 0.3s;
    font-weight: 800;
  }
  .sidenav a:hover {
    color: #197BBD;
  }
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
/* end Nav */
/* main body */
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
 .title {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  }
  .main {
    width: 100%
  }
  h1 {
    font-size: 5vh;
    text-shadow: 2px 2px black;
  }
  h2 {
    font-size: 3vh;
    text-shadow: 2px 2px black;
  }
  .contact {
    display: flex;
    justify-content: center;
  }
  .cForm {
    background-color: rgba(255, 255, 255);
    height: 100%;
  }
  /* end Body */
  /* start content */
  .cont {
    padding: 2em 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
  }
  p {
    color: white;
    font-size: 20px;
  }
  .vidContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 7%;
    color: white;
    flex-direction: column;
  }
  .backgroundVid{
    display: none;
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -500;
    object-fit: fill;
  }
  .strImg {
    max-width: 60%;
    padding-top: 2em;
    align-self: center;
  }
  .main-vid {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    display: flex;
    justify-content: center;
  }
  .video {
    position: absolute;
    top: 0;
    width: 80%;
    height: 70%;
  }
  /* start footer */
  footer {
    color: white;
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: .75em;
    width: 100%;
    height: 3em;
    bottom: 0;
  }
  #foot{
    position: absolute;
  }
  #footR{
    position: relative;
  }
  .footLinks {
    position: absolute;
    left: 0; top: 0; right: 0; bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .75em;
  }
  .foot-icon {
    height: 2em;
    width: auto;
  }
  .rights {
    margin-right: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  p a:visited {
    color: #197BBD;
  }
  p a {
    color: gray;
  }
  @media screen and (max-width: 900px) {
    .icon {
      max-height: 20%;
    }
    nav {
      padding-top: 0;
    }
    .headr {
      align-items: center;
      padding-top: 1em;
      padding-right: .25em;
    }
    h1 {
      font-size: 1.3em;
    }
    h2{
      font-size: .8em;
    }
    p {
      font-size: 1em;
      text-align: start;
    }
    .cont {
      padding: 2em 5vh;
    }
    .strImg {
      max-width: 100%;
      margin: 0;
      object-fit: scale-down;
    }
    .video {
      width: 100%;
      height: 100%;
    }
    .cForm {
      width: 80%;
      display: flex;
    }
    footer {
      font-size: 10px;
      bottom: 10px;
      position: absolute;
    }
    .footLinks {
      position: inherit;
      margin-left: 3em;
    }
  }
  @media screen and (max-width: 300px) {
    .headr{
      display: none;
    }
    .cForm {
      background-color: black;
    }
  }